In [ ]:
'''
Agenda -> Advanced list processing
        - Comprehension - List, nested list, dict, nested dict
        - function - fruitful vs void
        - lambda, map, filter, reduce
        - zip, unzip
        - enumerate
        - any /all
        - sorted
'''

In [ ]:
employees = ['Alice', 'Bob', 'Charlie', 'Diana']
projects_handled = [3, 4, 2, 5]
performance_scores = [[80, 85, 90], [60, 75, 70, 65], [90, 95], [88, 92, 85, 80, 78]]


branches = ['North', 'South', 'East', 'West']
weekly_sales = [[1000, 1100, 1050], [900, 950, 870], [1300, 1250, 1280], [700, 650, 600]]
expenses = [700, 600, 800, 550]  # Weekly average expenses per branch

In [2]:
# ignore the invalid transactions
transactions = [
    {"id": "T1", "amount": 5000},
    {"id": None, "amount": 1000},
    {"id": "T2", "amount": 15000}
]

vaild_transactions=[transaction for transaction in transactions if transaction['id'] and transaction['amount']>0]

print(vaild_transactions)

#[{'id': 'T1', 'amount': 5000}, {'id': 'T2', 'amount': 15000}]

[{'id': 'T1', 'amount': 5000}, {'id': 'T2', 'amount': 15000}]

In [3]:
# nested list comprehension - extract all products sold across all orders
orders = [
    {"id": "O1", "items": [{"product": "Pen"}, {"product": "Book"}]},
    {"id": "O2", "items": [{"product": "Pencil"}, {"product": "Eraser"}]}
]

#['Pen', 'Book', 'Pencil', 'Eraser']

all_products=[item['product'] for order in orders for item in order['items'] ]
print(all_products)

['Pen', 'Book', 'Pencil', 'Eraser']

In [5]:
# flatten nested list of customer emails from regions
regions = [
    ["alice@mail.com", "bob@mail.com"],
    ["eve@mail.com", "mallory@mail.com"]
]

#['alice@mail.com', 'bob@mail.com', 'eve@mail.com', 'mallory@mail.com']

customer_emails=[email for sublist in regions for email in sublist]
print(customer_emails)

['alice@mail.com', 'bob@mail.com', 'eve@mail.com', 'mallory@mail.com']

In [ ]:
# sorted()
orders = [
    {"id": "O1", "amount": 4500},
    {"id": "O2", "amount": 30000},
    {"id": "O3", "amount": 1500}
]

[{'id': 'O2', 'amount': 30000}, {'id': 'O1', 'amount': 4500}, {'id': 'O3', 'amount': 1500}]

In [10]:
# function - fruitful , void 

# fruitful function - with return type
def display(msg):
    return msg
print(display('john'))

# void function - without return type
def display(msg):
    print(msg)
print(display('john'))

john
john
None

In [11]:
# advanced list processing - lambda opeartor or function

# anonymous function - function without name, declaring var will act as a function 
# - lambda - inline function - create small anonymous function
#syntax : instance_name=lambda arguments:expression

def display(msg):
    return msg
print(display('john'))

display=lambda msg:msg
display('john')

john

'john'

In [13]:
# lambda function - map() or filter() or reduce()

#[1,2,3,4,5,6] - [1,3,5]
li_new=[]
def odd(li):
    for element in li:
        if element%2!=0:
            li_new.append(element)
odd([1,2,3,4,5])
        
print(li_new)

[1, 3, 5]

In [31]:
import math
li=[1,2,3,4] # [1.0,1.414,1.7321,2.0]
li_new=lambda element : math.sqrt(element)
print(li_new(li))

TypeError: must be real number, not list

In [32]:
# syntax - map(function,iterables) -to apply a single function to all the elements in single execution

li=[1,2,3,4]
import math
li_new=[]
for element in li:
    sqrt_ele=math.sqrt(element)
    li_new.append(sqrt_ele)

print(li_new)

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0]

In [34]:
import math
li=[1,2,3,4]
li_new=list(map(lambda element : math.sqrt(element),li))
li_new

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0]

In [35]:
# filter(function with condition,iterbales)
li=[1,2,3,4]
filter_odd=list(filter(lambda element:element %2 == 0 , li))
print(filter_odd)

[2, 4]

In [36]:
# reduce - to reduce the elements into single value - return the single value

li=[1,2,3,4]
from functools import reduce
sum_ele=reduce(lambda x,y : x+y,li)
sum_ele

10

In [37]:
employees = ['Alice', 'Bob', 'Charlie', 'Diana']
projects_handled = [3, 4, 2, 5]
performance_scores = [[80, 85, 90], [60, 75, 70, 65], [90, 95], [88, 92, 85, 80, 78]]

In [40]:
# Normalize scores to a scale 0-1

normalized_scores=list(map(lambda scores:list(map(lambda x:x/100,scores)),performance_scores))
print(normalized_scores)

[[0.8, 0.85, 0.9], [0.6, 0.75, 0.7, 0.65], [0.9, 0.95], [0.88, 0.92, 0.85, 0.8, 0.78]]

In [41]:
# total score per employee
from functools import reduce
total_score =list(map(lambda scores:reduce(lambda a,b : a+b,scores),performance_scores))
total_score

[255, 270, 185, 423]

In [6]:
from functools import reduce
items=[1,2,3,4,5,6,7,8,9,10]

filter_element=filter(lambda element:element%2==0,items)
print(list(filter_element))


map_element = map(lambda element:element*2,filter(lambda element:element%2==0,items))
print(list(map_element))

sum_elements=reduce(lambda x,y:x+y,map(lambda element:element*2,filter(lambda element:element%2==0,items)))
print(sum_elements)

[2, 4, 6, 8, 10]
[4, 8, 12, 16, 20]
60

In [7]:
employees = ['Alice', 'Bob', 'Charlie', 'Diana']
projects_handled = [3, 4, 2, 5]
performance_scores = [[80, 85, 90], [60, 75, 70, 65], [90, 95], [88, 92, 85, 80, 78]]

In [9]:
list(range(len(total_score)))

[0, 1, 2, 3]

In [14]:
# Find employees with total score above 250
# total score per employee
from functools import reduce
total_score =list(map(lambda scores:reduce(lambda a,b : a+b,scores),performance_scores))
total_score

top_performers=filter(lambda i:total_score[i]>250,range(len(total_score)))


result=[employees[i] for i in top_performers]
print(result)

['Alice', 'Bob', 'Diana']

In [19]:
# Pair names and total scores eg[('Alice',255), ..... ]

# zip() - combine or merge the lists of elements , it's based on the index position matched
# zip() - combines elements from muliple iterbales into tuples

li=[1,2,3]
li_new=[5,6,7,8]
list(zip(li_new,li))

pair_names=list(zip(employees,total_score))
print(pair_names)

[('Alice', 255), ('Bob', 270), ('Charlie', 185), ('Diana', 423)]

In [21]:
# unzip() - unpacking or unzip a zipped list

name,score=zip(*pair_names)
print(list(name))
print(list(score))

['Alice', 'Bob', 'Charlie', 'Diana']
[255, 270, 185, 423]

In [25]:
# sort employees by score (large to small order) - sorted(iterables, key=function, reverse=True)

sorted_employees=sorted(pair_names,key=lambda x:x[1], reverse=True)
sorted_employees

[('Diana', 423), ('Bob', 270), ('Alice', 255), ('Charlie', 185)]

In [28]:
#add rank index to sorted employees
# enumerate - track the index(like rank) during iteration
ranked=list(enumerate(sorted_employees,start=1))
ranked

[(1, ('Diana', 423)),
 (2, ('Bob', 270)),
 (3, ('Alice', 255)),
 (4, ('Charlie', 185))]

In [29]:
# any() - any checks if atleast one condition is True / all() - checks if every condition is TRue function
#Did any employee score below 200?

#[255, 270, 185, 423]

any(score <200 for score in total_score)

True

In [30]:
#Did all employee score above 150?
all(score > 150 for score in total_score)

True

In [ ]:
map()
    - currency conversion
    - data type conversion

filter()
    - data filtering
    - email validation, phone number validation, invalid data 
    - Null values

reduce()
     - cumuleative maths operations ( total salary in an organzation)
     - max, min

In [35]:
str_numbers=['1','2','3','4']
print(type(str_numbers))
for i in str_numbers:
    print(type(i))
int_numbers=list(map(int, str_numbers))
print(int_numbers)
for i in int_numbers:
    print(type(i))

<class 'list'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
[1, 2, 3, 4]
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [36]:
# Data validation
email_address=['john@gmail.com','invalid_email','joe@example.com','another_invalid']

invalid_emails=list(filter(lambda email:"@" not in email and "." not in email,email_address))
invalid_emails

['invalid_email', 'another_invalid']

In [37]:
# sorting data
data=[
    {'name':'john',
     'age':34},
     {'name':'joe',
     'age':18},
     {'name':'kala',
     'age':30},
     {'name':'bala',
     'age':38},
]

sorted(data,key=lambda x:x['age'],reverse=True)

[{'name': 'bala', 'age': 38},
 {'name': 'john', 'age': 34},
 {'name': 'kala', 'age': 30},
 {'name': 'joe', 'age': 18}]

In [39]:
# removing Null or Empty values
data=[1,None,3,'','hello',None]
filtered_data=list(filter(lambda value:value is not None and value!='',data))
filtered_data

[1, 3, 'hello']

In [42]:
words=['john','johnpaul','johnpaulantony']
longest_length=reduce(lambda x,y: x if x>y else y , map(len,words))
longest_length

14