In [1]:
print("Hai")

Hai

In [6]:
! pip install pypy

Defaulting to user installation because normal site-packages is not writeable

WARNING: Ignoring invalid distribution ~umpy (C:\Users\JOHNJESUS\AppData\Roaming\Python\Python311\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\JOHNJESUS\AppData\Roaming\Python\Python311\site-packages)
ERROR: Could not find a version that satisfies the requirement pypy (from versions: none)
ERROR: No matching distribution found for pypy

In [7]:
import time

def fib(n):
    if n <= 1:
        return n
    else:
        return fib(n-1) + fib(n-2)
start_time = time.time()
print(fib(35))
end_time = time.time()
print(f"Execution time: {end_time - start_time} seconds")

9227465
Execution time: 2.795867443084717 seconds

In [5]:
import py_compile
py_compile.compile('fib.py')

'__pycache__\\fib.cpython-311.pyc'

In [2]:
fib.__code__.co_code

NameError: name 'fib' is not defined

In [1]:
from platform import python_version
print(python_version())

3.11.5

In [1]:
import keyword
print(keyword.kwlist)
print(keyword.iskeyword("elif"))
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
True
35

In [ ]:
# python - consider as a object or instance of class
# everything in python is an object

a=1
print(type(a))

elements=[1,2,3,4,5]
print(type(elements))


details={"name":"John", "age":30, "city":"New York"}
print(type(details))

<class 'int'>
<class 'list'>
<class 'dict'>

In [ ]:
# Data types in python
# 1. Numeric - int, float, complex
# 2. String
# 3. List
# 4. Tuple
# 5. Dictionary
# 6. Set
# 7. Boolean - True, False
# 8. Frozenset

In [ ]:
Sequence or ordered elements - index - list, tuple, string , 

non sequence or unordered elements - without index - set, dictionary, frozenset

In [ ]:
data=[1,2,3,4,5]
data[2]

1

In [6]:
a=10077777777777777777777777777777777777777777777777777777777777777777777777777777777777
type(a) # int

int

In [10]:
# Type Casting - converting one data type to another

a=10
float(a) # 10.0

a=10.0
int(a)

number=10
complex(number)

(10+0j)

In [ ]:
# Sequence - str, list, tuple - manipulate the data using index
# Non sequence - set, dictionary, frozenset - no index

# Mutable - list, dictionary, set
# Immutable - str, tuple, frozenset

In [20]:
# sequence - ordered - index - list, tuple, str

name=["John", "Doe", "Smith"]
print(name[0]) # John
print(name[1]) # Doe    
print(name[2]) # Smith

name=("John", "Doe", "Smith")
print(name[0]) # John
print(name[1]) # Doe
print(name[2]) # Smith


name="John Doe Smith"
print(name[0]) # J
print(name[1]) # o

John
Doe
Smith
John
Doe
Smith
J
o

In [ ]:
# mutable - list
name=[12,13,14,15]
print(name[0]) # 12

name[0]=200
print(name)

del name[0]
print(name)

name.append(100)
print(name)

12
[200, 13, 14, 15]
[13, 14, 15]
[13, 14, 15, 100]

In [25]:
number=[1,2,3,4,5]

print(id(number)) # 140706123456064


number.append(100)
print(id(number)) # 140706123456064

del number[0]
print(id(number)) # 140706123456064

number[0]=100
print(id(number)) # 140706123456064

1375098893568
1375098893568
1375098893568
1375098893568

In [28]:
# tuple - immutable - cannot be changed
numbers=(1,2,3,4,5)
print(numbers[0]) # 1

numbers[0]=100 # TypeError: 'tuple' object does not support item assignment
print(numbers) # (1, 2, 3, 4, 5)

del numbers[0]
print(numbers) # TypeError: 'tuple' object doesn't support item deletion

1

TypeError: 'tuple' object does not support item assignment

In [29]:
# string - immutable - cannot be changed
name="John Doe Smith"
print(name[0]) # J
name[0]=100 # TypeError: 'str' object does not support item assignment
print(name) # John Doe Smith

J

TypeError: 'str' object does not support item assignment

In [30]:
name="John Doe Smith"
name_one=name

print(id(name)) # 140706123456064
print(id(name_one)) # 140706123456064

1375098895152
1375098895152

In [31]:
a=10
print(id(a)) # 140706123456064
b=10
print(id(b)) # 140706123456064

140707616973896
140707616973896

In [32]:
a=10
print(id(a)) # 140706123456064
b=a
print(id(b)) # 140706123456064

140707616973896
140707616973896

In [ ]:
a=10000000000
print(id(a)) # 140706123456064
b=10000000000
print(id(b)) # 140706123456064


# python reuse the memory location for the same value  -5 to 256

1375100044848
1375100043568

In [1]:
a=[1,2,3,4,5]
b=a
print(id(a)) # 140706123456064
print(id(b)) # 140706123456064

1615089572608
1615089572608

In [5]:
# tuple - immutable - cannot be changed
details=(1,['john','doe'],"bangalore",200000,True)
details[1][0]="john paul"
details

details[0]=100

TypeError: 'tuple' object does not support item assignment

In [9]:
# non Sequence - unordered - set, dictionary, frozenset
# set - unordered - mutable - no index

details={1,"john",4,1}

print(details) # {1, 4, 'john'}

# details[0] # TypeError: 'set' object is not subscriptable

details.add(100)

details

{1, 4, 'john'}

{1, 100, 4, 'john'}

In [8]:
# db - product category - electronics,electronics,health, fashion, grocery, health, beauty, home, sports, automotive

# unique values from the product category - set
product_category = ["electronics", "electronics", "health", "fashion", "grocery", "health", "beauty", "home", "sports", "automotive"]

product_category_set = set(product_category)

product_category_set

{'automotive',
 'beauty',
 'electronics',
 'fashion',
 'grocery',
 'health',
 'home',
 'sports'}

In [10]:
# dictionary - key value pair - unordered - mutable - no index
# key - unique - immutable - str, int, tuple


aadhar_details={"name":"john","aadhar_number":123456789012,"address":"bangalore","phone_number":9876543210,"email":"ajohnpaulantony@gmail.com"}
print(aadhar_details) # {'name': 'john', 'aadhar_number': 123456789012, 'address': 'bangalore', 'phone_number': 9876543210, 'email': '

{'name': 'john', 'aadhar_number': 123456789012, 'address': 'bangalore', 'phone_number': 9876543210, 'email': 'ajohnpaulantony@gmail.com'}

In [12]:
list(aadhar_details.keys())

['name', 'aadhar_number', 'address', 'phone_number', 'email']

In [17]:
list(aadhar_details.values())

['john', 123456789012, 'bangalore', 9876543210, 'ajohnpaulantony@gmail.com']

In [14]:
list(aadhar_details)

['name', 'aadhar_number', 'address', 'phone_number', 'email']

In [18]:
print(aadhar_details["name"]) # john
aadhar_details["aadhar_number"] # 123456789012

john

123456789012

In [19]:
# dict -mutable
aadhar_details

{'name': 'john',
 'aadhar_number': 123456789012,
 'address': 'bangalore',
 'phone_number': 9876543210,
 'email': 'ajohnpaulantony@gmail.com'}

In [20]:
aadhar_details['address']="chennai"
aadhar_details

{'name': 'john',
 'aadhar_number': 123456789012,
 'address': 'chennai',
 'phone_number': 9876543210,
 'email': 'ajohnpaulantony@gmail.com'}

In [21]:
aadhar_details['DOB']="01-01-1990"
aadhar_details

{'name': 'john',
 'aadhar_number': 123456789012,
 'address': 'chennai',
 'phone_number': 9876543210,
 'email': 'ajohnpaulantony@gmail.com',
 'DOB': '01-01-1990'}

In [22]:
del aadhar_details['phone_number']
aadhar_details

{'name': 'john',
 'aadhar_number': 123456789012,
 'address': 'chennai',
 'email': 'ajohnpaulantony@gmail.com',
 'DOB': '01-01-1990'}

In [26]:
# frozenset - immutable - unordered - no index - unique values - set

permission=set(["read","write","execute"]) # john
print(permission) # frozenset({'read', 'write', 'execute'})

permission.add("delete") # AttributeError: 'frozenset' object has no attribute 'add'

permission

{'read', 'execute', 'write'}

{'delete', 'execute', 'read', 'write'}

In [27]:
permission=frozenset(["read","write","execute"]) # john
print(permission) # frozenset({'read', 'write', 'execute'})

permission.add("delete") # AttributeError: 'frozenset' object has no attribute 'add'

permission

frozenset({'read', 'execute', 'write'})

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
# DataStructrues - list, tuple, set, dictionary, frozenset, str - operations on the data, methods, functions, properties, attributes

Array - {1,2,3,4,5,6} ,{'john', 'doe', 'smith'} - similar data type , fixed size, less memory - faster

list - [1,'john', 2.5, True,[1,2,3,4]] - different data type, dynamic size, more memory - slower

tuple - ('sun','mon','tue'....'sat') - different data type,

In [29]:
# list
# insert the element

details=["john",'1991-04-09',10,'Madurai','98328772']
details.append('p&T')
details

details.insert(1,'paul')
details

['john', 'paul', '1991-04-09', 10, 'Madurai', '98328772', 'p&T']

In [31]:
# select the element
details[0]
details[1]
details[2]

'1991-04-09'

In [55]:
# slicing operation - instance_name[start:end-1:step]

#['1991-04-09'.'Madurai'] 

details[2:5:2]


# ['Madurai','1991-04-09'] 

details[-3:-6:-2]

['Madurai', '1991-04-09']

In [ ]:
#['john', 'paul', '1991-04-09', 10, 'Madurai', '98328772', 'p&T']

#['98328772',10,'paul']

details[-2:-7:-2]

['98328772', 10, 'paul']

In [61]:
# traversing - process - iterating the elements once a time - the list - for loop, while loop

# syntax
'''
for iterator in iterables:
    # block of code

'''

for element in details:
    print(element, end="\n")

john
paul
1991-04-09
10
Madurai
98328772
p&T

In [64]:
# dictionary traversing
for detail in aadhar_details:
    print(f"{detail}:{aadhar_details[detail]}", end="\n")

name:john
aadhar_number:123456789012
address:chennai
email:ajohnpaulantony@gmail.com
DOB:01-01-1990

In [1]:
# Replication or Repetition

details=["john",'1991-04-09',10,'Madurai','98328772']
details*3

['john',
 '1991-04-09',
 10,
 'Madurai',
 '98328772',
 'john',
 '1991-04-09',
 10,
 'Madurai',
 '98328772',
 'john',
 '1991-04-09',
 10,
 'Madurai',
 '98328772']

In [2]:
name="john"
name*3

'johnjohnjohn'

In [3]:
a=10
10**2

100

In [8]:
# Looping statements
# 1. for loop        - number of iterations, countable or sequence
# 2. while loop      - not countable, infinite loop, condition based

# CCTV camera - frames one by one - if any object is moving - blink the camera light


frames =['1.jpg','2.jpg','OBJ','4.jpg','5.jpg']
'''for frame in frames:
    print(frame, end="\n")
    '''
i=0
while(frames[i] == 'OBJ'):
    print("The LED light it's switched on", end="\n")
    i+=1
    print(frames[i], end="\n")

In [9]:
li=[1,2,3,4,5,6,7,8,9,10]
print(id(li))
li_one=[11,12,13,14,15,16,17,18,19,20]
li=li+li_one
print(id(li))

1898827729280
1898807035840

In [10]:
li=[1,2,3,4,5,6,7,8,9,10]
print(id(li))
li_one=[11,12,13,14,15,16,17,18,19,20]
li.extend(li_one)
print(id(li))

1898828068672
1898828068672

In [11]:
values=[1,2,3,4,5,6,7,8,9,10]
print(id(values))
values_dup=values.copy()
print(id(values_dup))

1898828060864
1898828010880

In [12]:
# Deletion
details=["john",'1991-04-09',10,'Madurai','98328772']
del details[0]

In [14]:
details

['1991-04-09', 10, 'Madurai', '98328772']

In [15]:
details.remove('Madurai')

In [16]:
details

['1991-04-09', 10, '98328772']

In [18]:
# range - range(start, stop, step) - range is a function - generates a sequence of numbers - return object 
# range(0,10,1) - 0 to 9

list(range(0,10,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
tuple(range(0,10,1))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [20]:
set(range(0,10,1))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [22]:
details=["john",'1991-04-09',10,'Madurai','98328772']
details

['john', '1991-04-09', 10, 'Madurai', '98328772']

In [24]:
for element in range(0,len(details)):
    if details[element]==10:
        del details[element]
print(details)

['john', '1991-04-09', 'Madurai', '98328772']

In [26]:
details.pop(1)
details

['john', 'Madurai']

In [28]:
# fetch the index pos based on the element value

details.index("john")

0

In [31]:
li=[1,2,3,4,5,6,7,8,9,10]
li.reverse()
li

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [32]:
li=[1,2,3,4,5,6,7,8,9,10]
li[::-1] # reverse the list
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
emp_sal=[1000,2000,1500,5000,6000,7000,5500,9000,10000]
#set(emp_sal) # unique values - set
emp_sal.sort() # ascending order - sort
print(emp_sal)
emp_sal.sort(reverse=True) # descending order - sort
print(emp_sal)

[1000, 1500, 2000, 5000, 5500, 6000, 7000, 9000, 10000]
[10000, 9000, 7000, 6000, 5500, 5000, 2000, 1500, 1000]

In [39]:
aadhar_details={"name":"john","aadhar_number":123456789012,"address":"bangalore","phone_number":9876543210,"email":"ajohn@gmail.com"}

In [40]:
aadhar_details['name']

'john'

In [43]:
print(list(aadhar_details.keys()))
aadhar_details.values()

['name', 'aadhar_number', 'address', 'phone_number', 'email']

dict_values(['john', 123456789012, 'bangalore', 9876543210, 'ajohn@gmail.com'])

In [44]:
aadhar_details.items()

dict_items([('name', 'john'), ('aadhar_number', 123456789012), ('address', 'bangalore'), ('phone_number', 9876543210), ('email', 'ajohn@gmail.com')])

In [45]:
aadhar_details.get('name')

'john'

In [46]:
aadhar_details.popitem()

('email', 'ajohn@gmail.com')

In [47]:
aadhar_details

{'name': 'john',
 'aadhar_number': 123456789012,
 'address': 'bangalore',
 'phone_number': 9876543210}

In [50]:
aadhar_details.pop('name') 
aadhar_details

{'aadhar_number': 123456789012,
 'address': 'bangalore',
 'phone_number': 9876543210}

In [ ]:
# Operators  a+b -> a,b - operands, + - operator
# 1. Arithmetic Operators - +, -, *, /, %, //, **
# 2. Relational Operators - <, >, <=, >=, ==, !=    
# 3. Assignment Operators - =, +=, -=, *=, /=, %=, //=, **=
# 4. Logical Operators - and, or, not
# 5. Bitwise Operators - &, |, ^, ~, <<, >>
# 6. Identity Operators - is, is not
# 7. Membership Operators - in, not in
# 8. Ternary Operators - a if condition else b
# 9. Conditional Operators - if, else, elif

In [54]:
# Membership Operators - in, not in - check the element is present in the sequence or not
# 1. in - check the element is present in the sequence or not
# 2. not in - check the element is not present in the sequence or not

li=[1,2,3,4,5,6,7,8,9,10]
11 in li

for i in li:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [58]:
# identity operator - is, is not  - we need to check the data type as well as object is same or not - memory location

a=[1,2,3]
print(id(a)) # 140706123456064
b=[1,2,3]
print(id(b)) # 140706123456064
print(a is b) # False - different memory location, data type is same, but different object
a==b # True - same value, same data type

1898827888448
1898827561472
False

True

In [59]:
a=10      # -5 to 256 - same memory location
b=10
a is b

True

In [ ]:
# Conditional operator - if, else, elif - decision making statements - based on the condition - execute the block of code

# indentation - space or tab - 4 spaces - block of code - if, else, elif, for, while, def, class, try, except, finally, with, lambda, async, await

void main(){
    if(condition){
        // block of code
    }else{
        // block of code
    }

}


def fun():
    if condition:
        # block of code
    elif condition:
        # block of code
    else:
        # block of code
def fun_one():
    if condition:
        # block of code
    elif condition:
        # block of code
    else:
        # block of code
for i in range(0,10):
    if i%2==0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

In [ ]:
readings = [40.5,30.5,45,6,80,0.5,0.8,1.9]

>40 - []
> 10 and <40 - []
<10 - []

In [60]:
readings = [40.5,30.5,45,6,80,0.5,0.8,1.9]
li=[]
li_one=[]
li_two=[]
for reading in readings:
    if reading>40:
        li.append(reading)
    elif reading>10 and reading<40:
        li_one.append(reading)
    else:
        li_two.append(reading)
print(f"Reading > 40 : {li}")
print(f"Reading > 10 and < 40 : {li_one}")
print(f"Reading < 10 : {li_two}")

Reading > 40 : [40.5, 45, 80]
Reading > 10 and < 40 : [30.5]
Reading < 10 : [6, 0.5, 0.8, 1.9]